/*
FONTS
------------x
Family:     Georgia, Cambria, "Times New Roman",Times, serif;
Weights:    all
Styles:     all

Family:     'Druk Text Web', 'Arial Black', sans-serif;
Weights:    700;
Styles:     normal, italic

Family:     'Druk Text Wide', 'Arial Black', sans-serif;
Weights:    700;
Styles:     normal, italic

Family:     'Druk XCond Web', sans-serif;
Weights:    900;
Styles:     normal, italic

Family:     'RudeSlabExtraWide-Book', serif;
Weights:    400;
Styles:     normal, italic
------------
*/
@font-face {
    font-family: 'Druk Text Web';
    src: url('./_fonts/druk/DrukText-Bold-Web.eot');
    src: url('./_fonts/druk/DrukText-Bold-Web.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/druk/DrukText-Bold-Web.woff2') format('woff2'),
    url('./_fonts/druk/DrukText-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Druk Text Web';
    src: url('./_fonts/druk/DrukText-BoldItalic-Web.eot');
    src: url('./_fonts/druk/DrukText-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/druk/DrukText-BoldItalic-Web.woff2') format('woff2'),
    url('./_fonts/druk/DrukText-BoldItalic-Web.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: 'Druk Text Wide';
    src: url('./_fonts/druk/DrukTextWide-Bold-Web.eot');
    src: url('./_fonts/druk/DrukTextWide-Bold-Web.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/druk/DrukTextWide-Bold-Web.woff2') format('woff2'),
    url('./_fonts/druk/DrukTextWide-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Druk Text Wide';
    src: url('./_fonts/druk/DrukTextWide-BoldItalic-Web.eot');
    src: url('./_fonts/druk/DrukTextWide-BoldItalic-Web.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/druk/DrukTextWide-BoldItalic-Web.woff2') format('woff2'),
    url('./_fonts/druk/DrukTextWide-BoldItalic-Web.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: 'Druk Text Wide Web';
    src: url('./_fonts/druk/DrukTextWide-Medium-Web.eot');
    src: url('./_fonts/druk/DrukTextWide-Medium-Web.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/druk/DrukTextWide-Medium-Web.woff2') format('woff2'),
    url('./_fonts/druk/DrukTextWide-Medium-Web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Druk XCond Web';
    src: url('./_fonts/druk/DrukXCond-Super-Web.eot');
    src: url('./_fonts/druk/DrukXCond-Super-Web.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/druk/DrukXCond-Super-Web.woff2') format('woff2'),
    url('./_fonts/druk/DrukXCond-Super-Web.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Druk XCond Web';
    src: url('./_fonts/druk/DrukXCond-SuperItalic-Web.eot');
    src: url('./_fonts/druk/DrukXCond-SuperItalic-Web.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/druk/DrukXCond-SuperItalic-Web.woff2') format('woff2'),
    url('./_fonts/druk/DrukXCond-SuperItalic-Web.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: 'RudeSlabExtraWide-Book';
    src: url('./_fonts/rude/32A596_4_0.eot');
    src: url('./_fonts/rude/32A596_4_0.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/rude/32A596_4_0.woff2') format('woff2'),
    url('./_fonts/rude/32A596_4_0.woff') format('woff'),
    url('./_fonts/rude/32A596_4_0.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'RudeSlabExtraWide-Book';
    src: url('./_fonts/rude/32A596_9_0.eot');
    src: url('./_fonts/rude/32A596_9_0.eot?#iefix') format('embedded-opentype'),
    url('./_fonts/rude/32A596_9_0.woff2') format('woff2'),
    url('./_fonts/rude/32A596_9_0.woff') format('woff'),
    url('./_fonts/rude/32A596_9_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
