@import '../../styles/variables.scss';
$shareSize: 35px;

.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    background-color: $utamag-white;
    z-index: 99;
    padding: 0 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .home-link {
        font-family: 'Druk Text Wide Web', sans-serif;
        color: $utamag-red;
        text-transform: uppercase;
        font-size: .65rem;
        letter-spacing: 1px;
        max-width: 50%;

        display: flex;
        align-items: center;

        svg {
            margin-right: .75em;
            margin-top: .125em;
            font-size: 1.125em;
        }
    }

    a,
    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .share-menu {
        position: relative;
        width: $shareSize;
        height: $shareSize;
        background: $utamag-white;

        .share-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $utamag-red;
            height: 100%;
            width: 100%;

            &:hover {
                color: $utamag-red-hover;
            }
        }

        .share-links {
            list-style: none;
            position: absolute;
            top: $shareSize;
            right: 0;
            left: 0;
            width: $shareSize;
            height: $shareSize;
            margin: 0;
            padding: 0;
            transition: all .3s ease;

            li {
                padding: .125em 0;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $utamag-white;
                    width: $shareSize;
                    height: $shareSize;
                    border-radius: 100%;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }


        &:hover,
        &.open {
            overflow: visible;

            .share-links {
                list-style: none;
                top: auto;
                bottom: $shareSize;
                height: auto;
            }
        }
    }
}