.menu {
    .scene-columns {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        h2 {
            font-family: 'Druk XCond Web', sans-serif;
            font-size: 6rem;
            margin: auto;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1.1;
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: #fff;
            text-align: center;
            width: 100%;
            height: calc(100vh);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-transition-property: all;
            -webkit-transition-duration: .45s;
            -webkit-transition-timing-function: cubic-bezier(.5,0,.1,1);
            transition-property: all;
            transition-duration: .45s;
            transition-timing-function: cubic-bezier(.5,0,.1,1);
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.5);
                -webkit-transition: .3s background-color ease-out;
                transition: .3s background-color ease-out;
            }
            &:hover {
                text-decoration: none;
                cursor: pointer;
                width: 120%;
            }
        }
        .column-content {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-animation: fadeUp .8s ease-out;
            animation: fadeUp .8s ease-out;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
}
