.splash {
    text-align: center;

    .splash-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        max-width: 960px;
        margin: auto;
        color: #fff;
    }

    .teaser {
        margin-bottom: 2em;
    }

    h1 {
        font-family: 'Druk XCond Web', sans-serif;
        font-size: 9rem;
        margin: auto;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: .1em;
    }

    .small {
        margin-top: 1.5rem;
        font-size: .9rem;
        max-width: 640px;
        margin: 1.5rem auto 0;
    }

    .utamag-btn {
        margin-top: 2em;
    }
}
