@import '../../styles/variables.scss';
@import '../Navigation/navigation.scss';

.video-controls {
    position: fixed;
    bottom: 0;
    right: calc(#{$shareSize} + 1em);
    z-index: 99;

    button {
        margin-right: .125em;
        width: $shareSize;
        height: $shareSize;
        color: $utamag-red;

        &:hover {
            color: $utamag-red-hover;
        }
    }
}