@import '../../styles/variables.scss';

.overlay {
    position: fixed;
    left: 0px;
    bottom: 0px;
    color: $utamag-white;
    padding-bottom: 2em;
    padding-left: 1rem;
    max-width: 750px;
    margin-bottom: 32px;

    h2 {
        font-family: 'Druk Text Web', 'Arial Black', sans-serif;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .teaser {
        color: $utamag-white;
    }

    p {
        margin-bottom: 0;
    }

    button {
        display: block;
        font-family: 'Druk Text Wide Web', sans-serif;
        color: $utamag-red;
        text-transform: uppercase;
        font-size: .65rem;
        letter-spacing: 1px;
        margin-top: 1em;
        
        &:hover {
            color: $utamag-red-hover;
        }

        svg {
            font-size: 1.25em;
            margin-right: .5em;
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: -50%;
        bottom: 0;
        top: -60%;
        // background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
        background-image: radial-gradient(farthest-side at 0% 100%, rgba(0,0,0,1) 30%,rgba(0,0,0,0));
        z-index: -1;
    }
}