@import '../../styles/variables.scss';
$menuWidth: 350px;

.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: $menuWidth;
    transition: transform .2s ease-in;

    .sidemenu-button {
        position: absolute;
        top: 1em;
        right: -1em;
        z-index: 2;
        color: $utamag-red;
        transform: translateX(100%);
        background-color: $utamag-white;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,.3);

        &:hover {
            color: $utamag-red-hover;
        }
    }

    .menu-items {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 20px;

        h3 {
            font-family: 'Druk Text Web', 'Arial Black', sans-serif;
            font-size: 1.5em;
            text-transform: uppercase;
        }

        .teaser {
            color: inherit;
            margin-top: 1em;
        }
    }

    &.closed {
        transform: translateX(-$menuWidth);
    }

    &.open {
        transform: translateX(0);
    }

    .active,
    .teaser {
        color: #fff;
    }
}