@import '../../styles/variables.scss';

a.utamag-btn {
    font-family: 'Druk Text Wide Web', sans-serif;
    font-weight: 500;
    border: 1px solid $utamag-red;
    background: $utamag-red;
    text-transform: uppercase;
    font-size: .55rem;
    padding: .8em 2em;
    color: #fff;
    display: inline-block;

    &:hover {
        text-decoration: none;
        background: $utamag-red-hover;
    }
}

p.teaser {
    margin: 0;
    font-family: 'Druk Text Wide Web', sans-serif;
    color: $utamag-red;
    text-transform: uppercase;
    font-size: .65rem;
    letter-spacing: 1px;
}